<div class="left-bar">
    <nav class="left-bar-nav">
      <a id="nav-home-icon" class="nav-link" href="div-home">
       <span id="nav-home-icon" class="nav-icon"><i class="bi bi-house"></i></span>
       <span id="nav-home-text" class="nav-text">HOME</span>
      </a>
      <a id="nav-profile-icon" class="nav-link" href="div-profile">
        <span id="nav-profile-icon" class="nav-icon"><i class="bi bi-person"></i></span>
        <span id="nav-profile-text" class="nav-text">PROFILE</span>
       </a>
       <a id="nav-projects-icon" class="nav-link" href="#">
        <span id="nav-projects-icon" class="nav-icon"><i class="bi bi-code-slash"></i></span>
        <span id="nav-projects-text" class="nav-text">PROJECTS</span>
       </a>
       <a id="nav-posts-icon" class="nav-link" href="#">
        <span id="nav-posts-icon" class="nav-icon"><i class="bi bi-journal-text"></i></span>
        <span id="nav-posts-text" class="nav-text">POSTS</span>
       </a>
       <a id="nav-contact-icon" class="nav-link" href="#">
        <span id="nav-contact-icon" class="nav-icon"><i class="bi bi-envelope"></i></span>
        <span id="nav-contact-text" class="nav-text">CONTACT</span>
       </a>
    </nav>
  </div>
  
  