<table class="table">
    <tbody>
      <tr>
        <th><i class="bi bi-envelope icon-contact"></i> Email</th>
        <td><a href="juaancabsou@gmail.com">juaancabsou@gmail.com</a></td>    
      </tr>
      <tr>
        <th><i class="bi bi-linkedin icon-contact"></i> Linkedin</th>
        <td><a href="https://www.linkedin.com/in/juan-antonio-cabeza-sousa-5b954968/">Juan Antonio Cabeza Sousa</a></td>
      </tr>
      <tr>
        <th><i class="bi bi-geo-alt icon-contact"></i> Located</th>
        <td><a href="https://www.google.com/maps/place/Dos+Hermanas,+Sevilla/@37.2820258,-5.9457266,14z/data=!3m1!4b1!4m5!3m4!1s0xd12705c945f7355:0x1f6735c306757c59!8m2!3d37.2865803!4d-5.9242391">Dos Hermanas, Seville(Spain)</a></td>
      </tr>
    </tbody>
  </table>