.div-main{
    margin-left: 65px;
    padding: 10px;
    background-color: rebeccapurple;
    height: 100%;
    position: fixed;
    width: 100%;
}

.div-main-2{
    margin-left: 65px;
    padding: 10px;
    background-color: blue;
    height: 100%;
    position: fixed;
    width: 100%;
    margin-top: 100%;
}