<div class="div-main">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro pariatur eius a, suscipit impedit veritatis praesentium possimus architecto iure consectetur. Labore tempore ullam inventore amet cupiditate quas maiores nihil.</p>
</div>
<div class="div-main-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro pariatur eius a, suscipit impedit veritatis praesentium possimus architecto iure consectetur. Labore tempore ullam inventore amet cupiditate quas maiores nihil.</p>
</div>