<div
  class="div-container"
  data-bs-spy="scroll"
  data-bs-target="#navbar-left"
  data-bs-offset="0"
  tabindex="0"
>
  <div id="div-home" class="div-main div-main-1">
    <p class="title-p">THIS IS HOME</p>
  </div>
  <div id="div-profile" class="div-main div-main-2">
    <p class="title-p">THIS IS PROFILE</p>
  </div>
  <div id="div-projects" class="div-main div-main-3">
    <p class="title-p">THIS IS PROJECTS</p>
  </div>
  <div id="div-posts" class="div-main div-main-4">
    <p class="title-p">THIS IS POSTS</p>
  </div>
  <div id="div-contact" class="div-main div-main-5">
    <p class="title-p">THIS IS CONTACT</p>
  </div>
</div>
