<div
  class="div-container"
  data-bs-spy="scroll"
  data-bs-target="#navbar-left"
  data-bs-offset="0"
  tabindex="0"
>
  <div id="div-home" class="div-main div-main-1">
    <div class="div-home-header">
      <p class="title-p">
        [<span class="letter-1">j</span>uaancabsou]><span
          class="letter-last blink"
          >_</span
        >
      </p>

    </div>
    <div class="div-home-body">
      <div class="div-home-body-meet">
        <p class="title-body-p">Hi,</p>
        <p class="title-body-p">My name is <span class="letter-1">J</span>uan</p>
        <p class="title-body-p">
          I'm a <span class="highlight-1">data scientist</span> and
          <span class="highlight-2">developer</span>
        </p>
      </div>
    </div>
  </div>
</div>
