.div-container{
    margin-left: 65px;
}
.div-main{
    background-color: rebeccapurple;
    height: 100vh;
    width: 100%;
}

.div-main-1{
    background-color: rebeccapurple;
}
.div-main-2{
    background-color: gray;
}

.div-main-3{
    background-color: red;
}
.div-main-4{
    background-color: yellow;
}

.div-main-5{
    background-color: #BFBFBF;
}

.title-p{
    font-size: 60px;
}

/* SPECIFIC SECTION CONTAINERS */

#div-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}